/*************** Variables ***************/
$navbar-height: 70px;
$cartFooter-height: 172px;
$cartFooter-mobile-height: 234px;
$font-size: 13px;
$page-content-margin-top: 15vh;

/*************** Extends ***************/
%display-grid {
  display: -ms-grid;
  display: grid;
}

%display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%margin-for-name-below-image {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

%margin-for-title-above-image {
  margin-bottom: 3rem;
}

/*************** Fonts ***************/
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  src: url("/assets/fonts/HelveticaNeueLTPro-Lt.otf") format("opentype");
}

@font-face {
  font-family: "Murmur";
  font-weight: 400;
  src: url("/assets/fonts/Murmur-Roman.woff") format("woff");
}

@font-face {
  font-family: "Murmur Medium";
  font-weight: 400;
  src: url("/assets/fonts/Murmur-Md.woff") format("woff");
}

/*************** General ***************/

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue";
}

.h6 {
  font-size: 12px;
}

.grey {
  color: #888;
}

html,
body {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  color: #1a1a1a;
  line-height: 1.5;
}

body.scrollLock {
  height: 100vh;
  overflow: hidden;
}

button:hover {
  // border-color: #ccc;
  border-color: #a6a6a6;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: "Murmur Medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2rem;
  color: #1a1a1a;
  letter-spacing: 0.26rem;
  text-transform: uppercase;
  margin-top: 0;
}

p,
span {
  margin: 0;
  padding: 0;
  line-height: 1.625rem;
  letter-spacing: 0.01rem;
  letter-spacing: 0.5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 1.625rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  position: relative;
  display: inline-block;
  text-align: center;
  background: #fff;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  padding: 16px 30px 14px 30px;
  width: auto;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  color: #1a1a1a;
  transition: border-color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

figure {
  margin: 0;
}

/*************** Utils ***************/
.placeholder-img {
  width: 100%;
}

.dollar {
  display: inline-block;
  margin-left: 5px;
  margin-right: 1px;
}

.charming span {
  // display: inline-block;
  position: relative;
  margin: 3px;
}

/*************** Page Transitions ***************/

.transition-wrapper {
  position: relative;
}

.transition-appear {
  position: absolute;
  top: 0;
  opacity: 0;
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in 1s;
}
.transition-leave {
  opacity: 1;
}

.transition-leave.transition-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.home-page + .product-page.transition-appear.transition-appear-active {
  opacity: 1;
}

/*************** Carousel Page ***************/

.Carousel__wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.Carousel__imageWrapper {
  width: 100%;
  height: 100%;
}

.Carousel__image {
  position: absolute;
  top: 0;
  left: -3%;
  width: 120%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

#Carousel__image1 {
  background-image: url("/assets/images/Lagoon-HD.jpg");
}

#Carousel__image2 {
  background-image: url("/assets/images/Dulcet-HD.jpg");
}

#Carousel__image3 {
  background-image: url("/assets/images/Erstwhile-HD.jpg");
}

#Carousel__image4 {
  background-image: url("/assets/images/Floral-HD.jpg");
}

.Carousel__overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.Carousel__text {
  position: absolute;
  width: 100%;
  bottom: 50%;
  text-align: center;
  transform: translateY(50%);
  z-index: 1;
  h1 {
    line-height: 1.4;
    margin: 2rem 0;
  }
  p {
    letter-spacing: 2px;
  }
  * {
    color: white;
  }
}

.Carousel__button {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-200%);
  z-index: 1;
  display: block;
  padding: 10%;
  color: white;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding: 2rem;
  animation-name: explore-button-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes explore-button-animation {
  from {
    transform: translate3d(-50%, -10px, 0);
  }
  to {
    transform: translate3d(-50%, 10px, 0);
  }
}

/*************** Top Nav ***************/
.TopNav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: $navbar-height;
  width: 100vw;
  max-width: 1500px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  span {
    cursor: pointer;
  }
}

.Menu-button {
  display: inline-block;
  width: 22px;
  height: 15px;
  box-sizing: content-box;
  padding: 10px;
  svg {
    width: 100%;
  }
}

.Cart-button {
  display: inline-block;
  box-sizing: content-box;
  padding: 12px 16px;
  cursor: pointer;
}

.Cart-quantity {
  text-align: center;
  position: relative;
  margin: -19px;
  padding: 20px;
  cursor: pointer;
  width: 55px;
}

.Cart-quantity__number {
  font-size: 12px;
  line-height: 1;
  color: #1a1a1a;
  padding: 2px 0 0;
  position: absolute;
  z-index: 10;
  width: 15px;
  text-align: center;
}

// .Cart-quantity__circle {
//   display: inline-block;
//   height: 14px;
//   width: 14px;
//   border-radius: 1px solid #1a1a1a;
//   border-radius: 100%;
//   color: #1a1a1a;
//    transition: transform .5s cubic-bezier(.68,-.55,.265,1.55),background-color .5s cubic-bezier(.39,.575,.565,1);
// }

/*************** Overlay ***************/

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s,
    z-index 0s ease 1s;
}

.Overlay.Cart--open {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

/*************** Menu ***************/

.Menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.66, 0.135, 0.84, 0.61) 0.5s,
    z-index 0s 1.2s;
}

.Menu__header {
  opacity: 0;
}

.Menu__close {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 10px;
  position: absolute;
  top: 5vh;
  left: 10%;
  box-sizing: content-box;
  cursor: pointer;
}

.Menu__close svg {
  width: 100%;
  color: #1a1a1a;
}

.Menu__link {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: opacity 0.5s cubic-bezier(0.66, 0.135, 0.84, 0.61),
    transform 0.5s cubic-bezier(0.66, 0.135, 0.84, 0.61);
}

.Menu--open {
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.66, 0.135, 0.84, 0.61);
  .Menu__header {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s;
  }
  .Menu__link {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .Menu__link:nth-child(1) {
    transition: opacity 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s,
      transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  }
  .Menu__link:nth-child(2) {
    transition: opacity 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s,
      transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s;
  }
  .Menu__link:nth-child(3) {
    transition: opacity 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s,
      transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  }
  .Menu__link:nth-child(4) {
    transition: opacity 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s,
      transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s;
  }
  .Menu__link:nth-child(5) {
    transition: opacity 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) 1s,
      transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  }
}

.Menu__header {
  height: $navbar-height;
}

.Menu__body {
  height: calc(100vh - #{$navbar-height});
  @extend %display-flex;
}

.Menu__items {
  align-self: center;
}

.Menu__link {
  font-family: "Murmur Medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 5vh;
  text-decoration: none;
}

/*************** HomePage ***************/

.home-page {
  @extend %display-grid;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.FeaturedProducts {
  position: relative;
  width: 100%;
  max-width: 200vh;
  margin: auto;
}

.FeaturedProducts__title {
  @extend %margin-for-title-above-image;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.FeaturedProducts__image {
  width: 80%;
  max-width: 74vh;
  margin: auto;
}

.FeaturedProducts__image img {
  width: 100%;
  transform: scale(0.97);
  transition: transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.FeaturedProducts__image:hover img {
  transform: scale(0.985);
  transition: transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.FeaturedProducts--alignCenter {
  align-self: center;
}

.FeaturedProducts__desc {
  margin-top: 1rem;

  span {
    margin-right: 20px;
  }

  span:last-child {
    margin-right: 0;
  }
}

.FeaturedProducts__index {
  position: absolute;
  bottom: 60px;
  right: calc(50% - 34vh);
  transform: rotate(90deg);
  transform-origin: bottom right;
  display: flex;
  span {
    font-weight: 400;
    color: #1a1a1a;
    font-size: 15px;
    line-height: 1.2;
    display: inline-block;
    overflow: hidden;
  }
  .SelectedProducts__index-dash {
    margin: 7px 10px;
    span {
      display: block;
      width: 25px;
      height: 1px;
      background: #1a1a1a;
      transform-origin: right;
    }
  }
}

.Scroll-to-explore,
.Selected-design {
  position: absolute;
  top: 50%;
  margin: 7vh 11vh;
  font-size: 14px;
  color: #888;
  letter-spacing: 0.25px;
  transform: rotate(90deg);
  transform-origin: right;
  overflow: hidden;
  backface-visibility: hidden;
}

.Scroll-to-explore {
  right: 0;
}

.Selected-design {
  transform: rotate(-90deg);
  transform-origin: left;
  left: 0;
}

/*************** Bottom Nav ***************/
.BottomNav {
  position: fixed;
  bottom: 0;
  height: $navbar-height;
  width: 100vw;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .Artist,
  .Social-media {
    font-size: 14px;
    color: #1a1a1a;
    letter-spacing: 0.25px;
    overflow: hidden;
    backface-visibility: hidden;
  }
}

/*************** ProductPage ***************/

.product-page {
  width: 100vw;
}
.Product-hero {
  @extend %display-grid;
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.Product-hero > div {
  align-self: center;
}

.Product-hero__title {
  @extend %margin-for-title-above-image;
}

.Product-hero__image {
  width: 80%;
  max-width: 74vh;
  margin: 0 auto;
  position: relative;

  .Product-hero__overlay {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
  }

  img {
    width: 100%;
  }
}

.Product-hero__scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.Product-hero__discover {
  display: block;
  position: relative;
  opacity: 0;
  animation-name: discover-text-fade-in;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.Product-hero__line {
  width: 1px;
  height: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  background: #1a1a1a;
  animation-name: discover-line-fade-in;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes discover-text-fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes discover-line-fade-in {
  from {
    height: 0;
  }
  to {
    height: 60px;
  }
}

.Product-info {
  width: 90%;
  margin: 7rem auto 5rem;
  text-align: center;
}

.Product-info .Product-info__params {
  display: none;
}

.Product-info__params ul li {
  line-height: 1.9rem;
}

.Product-info__desc {
  font-family: "Murmur Medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02rem;
  line-height: 1.625rem;
}

.Product-info__desc p {
  line-height: 2rem;
}

.Product-gallery {
  position: relative;
  height: 100vh;
}

.Product-gallery img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.Product-checkout {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
}

.Product-checkout__wrapper {
  text-align: center;
}

.Product-checkout__image {
  width: 80%;
  max-width: 74vh;
  margin: auto;
  img {
    width: 100%;
    box-shadow: 0 5px 20px 0 rgba(69, 79, 89, 0.2);
  }
}

.Product-checkout__info {
  text-align: center;
}
.Product-checkout__title {
  line-height: 1.75;
  margin: 15px 0 10px;
}
.Product-checkout__params {
  margin-bottom: 2.5vh;
}
.Product-checkout__params .Product-info__desc {
  display: none;
}
.Product-checkout__buyButton {
  width: auto;
  padding: 16px 30px 14px 30px;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  color: #1a1a1a;
  font-size: $font-size;
  line-height: 1;
  font-family: "Helvetica Neue";
  transition: border-color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
}

.Product-checkout__backButton {
  display: block;
  margin-top: 5vh;
  transition: color 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.Product-checkout__backButton:hover {
  color: #6b6b6b;
}

/*************** AllWorkPage ***************/

.allWork-page {
  width: 100vw;
}

.AvailableProducts {
  margin-top: $page-content-margin-top;
}

.AvailableProducts__title {
  text-align: center;
  @extend %margin-for-title-above-image;
}

.AvailableProducts__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  height: auto;
  width: 90%;
  margin: auto;
}

.AvailableProducts__image {
  width: 100%;
  width: 90%;
  display: block;
  margin: auto;
}

.AvailableProducts__name {
  @extend %margin-for-name-below-image;
}

// Collections Page

.collections-page {
  width: 100vw;
}
.Collections {
  width: 90%;
  margin: auto;
  padding-top: $page-content-margin-top;
}

.Collection__title {
  @extend %margin-for-title-above-image;
}
.Collection__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  img {
    width: 90%;
    display: inline-block;
    margin: auto;
  }
}
.Collection__name {
  @extend %margin-for-name-below-image;
}

/*************** About Page ***************/

.about-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
}

.About {
  align-self: center;
  text-align: center;
  width: 90%;
  margin: auto;

  img {
    width: 100%;
    max-width: 64vh;
  }

  h1 {
    margin-bottom: 2rem;
  }
}

/*************** Local Store Page ***************/

.local-store-page {
  width: 100vw;
  padding-top: 15vh;
}

.LocalStore {
  align-self: center;
  text-align: center;
  width: 90%;
  margin: auto;

  img {
    width: 100%;
    max-width: 64vh;
  }

  h3,
  h4 {
    font-family: "Murmur Medium", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    letter-spacing: 1.2px;
  }

  h3 {
    font-size: 1.4rem;
  }
}

.LocalStore__info {
  margin-top: 3rem;
}

/*************** Not Found Page ***************/

.notFound-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
}

.NotFound {
  align-self: center;
  text-align: center;
  width: 90%;
  margin: auto;

  img {
    width: 100%;
    max-width: 64vh;
  }

  h1 {
    margin-top: 2rem;
  }
}

/*************** Cart ***************/

.Cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transform: translateX(105%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.Cart--open {
  display: block;
  right: 0;
  transform: translateX(0);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.Cart__container {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s;
}

.Cart.Cart--open .Cart__container {
  opacity: 1;
  transition: opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.Cart__header {
  position: relative;
  height: $navbar-height;
  padding: 23px 0 22px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.Cart__close {
  position: absolute;
  left: 24px;
  padding: 5px;
  cursor: pointer;
}

.Cart__line-items {
  width: 100%;
  height: calc(100vh - #{$cartFooter-height});
  overflow-y: scroll;
}

.Cart__line-items.mobile {
  height: calc(100vh - #{$navbar-height} - #{$cartFooter-mobile-height});
}

.Cart__empty {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #888;
  text-align: center;
  margin-top: 5.5vh;
}

.Cart__footer {
  border-top: 1px solid #e5e5e5;
  position: absolute;
  width: 100%;
  padding: 32px 24px 24px;
  bottom: 0;
  background: #fff;
  box-sizing: border-box;
}

.Cart-info {
  @extend %display-grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6px;
}

.Cart-info__total {
  justify-self: left;
  font-size: 18px;
}

.Cart-info__pricing {
  justify-self: right;
  font-size: 18px;
}

.Cart__checkoutButton {
  width: 100%;
  background: #1a1a1a;
  color: #fff;
  margin-top: 24px;
}

.Cart__checkoutButton[disabled] {
  background: #888;
  border-color: #888;
  cursor: default;
}

.Cart__continueButton {
  width: 100%;
  margin: 12px auto 0;
  border-color: #ccc;
}

/*************** Line Item ***************/

.Line-item {
  padding: 29px 24px;
  border-bottom: 1px solid #e5e5e5;
  transition: opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  max-height: 900px;
  overflow: hidden;
}

.Line-item__img {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.Line-item__img img {
  width: 100%;
}

.Line-item__content {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.Line-item__content-row {
  width: 90%;
  float: right;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 16px;
}

.Line-item__title {
  font-family: "Murmur Medium";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 3px;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 9;
  grid-column-end: span 9;
}

.Line-item__variant-title span {
  margin-right: 8px;
}

.Line-item__quantity-container {
  display: flex;
  width: 60%;
  justify-content: flex-start;
}

.Line-item__quantity-update:first-child {
  padding: 0 28px 0 0;
  cursor: pointer;
}

.Line-item__quantity-update:last-child {
  padding: 0 0 0 28px;
  cursor: pointer;
}

.Line-item__remove {
  width: 14px;
  height: 14px;
  padding: 14px;
  // background-image: url(../img/close-sml.svg),none;
  // background-repeat: no-repeat;
  // background-position: 50%;
  display: inline-block;
  justify-self: right;
  margin-right: -6px;
  transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

// // Media Queries for iPad in portrait mode
@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 38px;
    line-height: 1.2;
    letter-spacing: 0.45rem;
  }

  // Menu
  .Menu__link {
    font-size: 36px;
    letter-spacing: 8px;
  }

  // Cart
  .Cart {
    width: 400px;
  }

  // Home page
  .FeaturedProducts__image,
  .Product-hero__image {
    width: 62vw;
    max-width: 47vh;
  }

  // Product page

  .Product-info {
    width: 75%;
  }

  // All work page - for Mobile
  .mobile {
    .AvailableProducts {
      margin-top: $page-content-margin-top;
    }
    .AvailableProducts__grid {
      width: 70%;
    }
  }

  // All work page - for Desktop
  .desktop {
    .allWork-page {
      height: 100vh;
      overflow: hidden;
      display: grid;
    }

    .allWork-page > div {
      align-self: center;
    }
    .AvailableProducts {
      width: 80%;
      max-width: 115vh;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .AvailableProducts__info {
      position: relative;
    }

    .AvailableProducts__name a {
      color: #c5c5c5;
      font-size: 17px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 1rem 0;
      transition: color ease-out 0.5s;
    }

    .AvailableProducts__name a:hover {
      color: #1a1a1a;
    }

    .AvailableProducts__name a.active {
      color: #1a1a1a;
    }

    .AvailableProducts__titleTop {
      text-align: center;
    }

    .AvailableProducts__titleBottom {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 800;
      font-size: 170px;
      position: absolute;
      bottom: -4rem;
      margin: 0;
      line-height: 1;
      color: rgba(0, 0, 0, 0.02);
      z-index: -1;
      white-space: nowrap;
    }

    .AvailableProducts__image {
      width: 80%;
      margin-left: 20%;
    }
  }

  // Collections Page
  .Collections {
    width: 80%;
    max-width: 115vh;
  }
  .Collection__title {
    margin-top: 4rem;
  }
  .Collection__grid {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }

  // Not Found Page
  .NotFound {
    width: 70%;
    max-width: 115vh;
  }
}

// Media Queries for iPad in landscape mode
@media only screen and (min-width: 1000px) {
  .Carousel__text {
    width: 40%;
    left: 10%;
    text-align: left;
  }
  .FeaturedProducts__image,
  .Product-hero__image {
    width: 82%;
    max-width: 58vh;
  }

  // Not Found Page
  .NotFound {
    width: 45%;
  }
}

// Media Queries for Desktop
@media only screen and (min-width: 1366px) {
  .FeaturedProducts__image,
  .Product-hero__image {
    width: 33vw;
    max-width: 63vh;
  }

  //Product page

  .Product-info {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    .Product-info__params {
      width: 40%;
      display: inline-block;
    }

    .Product-info__desc {
      width: 60%;

      p {
        font-size: 25px;
        line-height: 3rem;
        text-align: left;
      }
    }
  }

  .Product-checkout {
    max-width: 120vh;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .Product-checkout__image {
    max-width: 50vh;
    margin: 0 auto;
  }

  // Not Found Page
  .NotFound {
    width: 30%;
    max-width: 115vh;
    h1 {
      margin-top: 4rem;
    }
  }

  // About Page
  .About {
    width: 30%;
    max-width: 115vh;
    h1 {
      margin: 2rem 0 6rem 0;
    }
  }

  // Find in Store Page
  .LocalStore {
    width: 30%;
    max-width: 115vh;
    h1 {
      margin: 2rem 0 6rem 0;
    }
  }
}

/*************** Scroll ****************/
.scroll {
  cursor: -webkit-grab;
  cursor: grab;
}

.scroll-content {
  display: flex;
  white-space: nowrap;
  position: relative;
  height: 100vh;
}
.scroll-content--last {
  position: absolute;
  top: 0;
  left: 0;
}

.slide {
  display: flex;
  width: 50vw;
  height: 100%;
  padding: 20vh 0;
}
.slide--0 {
  align-items: flex-start;
}
.slide--1 {
  align-items: flex-end;
}
.slide--2 {
  align-items: center;
}
.slide--3 {
  align-items: flex-start;
}
.slide--4 {
  align-items: flex-end;
}
.slide--5 {
  align-items: center;
}
.slide--6 {
  align-items: flex-start;
}
.slide--7 {
  align-items: flex-end;
}
.slide--8 {
  align-items: center;
}
.slide--9 {
  align-items: flex-start;
}
.slide--10 {
  align-items: flex-end;
}
.slide--11 {
  align-items: center;
}
.slide:last-child {
  width: 65vw;
  padding-right: 15vw;
}
.slide__inner {
  position: relative;
  padding-left: 15vw;
  width: 100%;
}
.slide__sub-title {
  position: absolute;
  top: 15%;
  left: 5.5vw;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9vw;
}
.slide__title {
  position: absolute;
  top: 18%;
  left: 8vw;
  color: #1a1a1a;
  font-size: 3.6vw;
  z-index: 2;
  overflow: hidden;
}
.slide__project {
  color: #1a1a1a;
  position: absolute;
  top: 100%;
  right: 5%;
  // font-size: 1.15vw;
  padding-top: 1.5vw;
}
.slide__img {
  position: relative;
  overflow: hidden;
  padding-top: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  // box-shadow: 0 5px 20px 0 rgba(69, 79, 89, 0.2);
}
.slide__img-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.slide__img figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__img figure img {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 0px 20px 0 rgba(69, 79, 89, 0.2);
}

.scrollbar {
  position: absolute;
  bottom: 7.5%;
  left: 20%;
  right: 20%;
  height: 1px;
  background-color: #fff;
}
.scrollbar__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  background-color: rgba(0, 0, 0, 0.25);
}

/*************** Transition ****************/
.Page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Page-enter {
  opacity: 0;
}

.Page-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.Page-exit {
  opacity: 1;
}

.Page-exit-active {
  opacity: 0;
  transition: opacity 0ms;
}
